<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/headerCSS.css">
    <link rel="stylesheet" href="/static/mostpopularsongsCSS.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    

    <title>PROJETO-BIG-DATA</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>

<body>

    {% include 'header.html' %}

    <section class="testx">
        {% if session.access_token %}
            <p class="username1">Olá, {{ username }}!<br></p>
            <div id="recent-tracks">
                <!-- Músicas recentes serão carregadas aqui -->
            </div>
        {% else %}
            <h2>Faça login para ver suas músicas recentes</h2>
        {% endif %}

        <div class="testando">
            {% if top_artists %}
            <h2>Top 10 Artistas (Kworb)</h2>
            <table>
                <thead>
                    <tr>
                        <th>Posição</th>
                        <th>Artista</th>
                        <th>Streams</th>
                        <th>Daily</th>
                        <th>As lead</th>
                        <th>Solo</th>
                        <th>As feature</th>
                    </tr>
                </thead>
                <tbody>
                    {% for artist in top_artists %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ artist.Artist }}</td>
                        <td>{{ artist.Streams }}</td>
                        <td>{{ artist.Daily }}</td>
                        <td>{{ artist['As lead'] }}</td>
                        <td>{{ artist.Solo }}</td>
                        <td>{{ artist['As feature'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Não foi possível carregar os dados dos artistas.</p>
            {% endif %}

        </div>
    </section>

</body>

</html>